@charset "UTF-8";
@container-width:1080px;
body{
    background-color: #f2f2f2;
}
@media (min-width: @container-width){
    .container{
        width: @container-width;
        padding:0;
        
    }
}
.container{
    padding-bottom: 100px;
    padding-top: 192px;
}
.public-header{
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 46px;
    line-height: 46px;
    background-color: #333;
    .link-wrap{
        margin: 0 auto;
        text-align: right;
        width: @container-width;
    }
    .header-link{
        color:#fff;
        font-size: 16px;
        border-right: 1px solid #fff;
        padding:0 12px;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        text-decoration: none;
        &:last-child{
            border:0;
            padding-right: 0;
        }
    }
}
.public-nav{
    position: fixed;
    z-index: 9;
    top: 46px;
    width: 100%;
    height: 146px;
    background-color: #fff;
    .nav-wrap{
        width: @container-width;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        .logo{
            width: 99px;
            height: 97px;
            margin-left: 70px;
        }
        .nav-item-wrap{
            width: calc(~"100% - 97px - 70px");
            margin-left: 70px;
            margin-bottom: 0;
            align-self:flex-end;
        }
        .nav-item{
            float: left;
            width: 112px;
            text-align: center;
            height: 40px;
            a{
                font-size: 16px;
                display: block;
                width: 100%;
                height: 16px;
                line-height: 16px;
                margin-top: 13px;
                color:#000;
                text-decoration: none;
                border-right: 1px solid #ccc;
            }
            &.active{
                background-color: #f2f2f2;
                a{
                    border:0;
                }
            }
            &:last-child{
                a{
                    border:0;
                }
            }
        }
    }
}
.breadcrumb-nav{
    height: 25px;
    line-height: 25px;
    margin-top: 54px;
    .breadcrumb-link{
        font-size: 14px;
        color:#afafaf;
        &.active{
            color:#000;
        }
    }
}
.public-footer{
    .footer-header{
        height: 148px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .canada-icon{
        width: 49px;
        height: 28px;
    }
    .canada-info{
        font-size: 16px;
        margin-left: 20px;
    }
    .address-icon{
        margin-left: 24px;
        width: 68px;
        height: 75px;
    }
    .address-wrap{
        margin-left: 24px;
        .address-info{
            font-size: 12px;
            margin-bottom: 8px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .footer-bottom{
        height: 48px;
        background-color: #333;
    }
}

.modal.qrcode-modal{
    .modal-dialog{
        width: 435px;
        top:10%;
    }
    .modal-header{
        border:0;
        padding: 8px;
        .close{
            font-size: 28px;
        }
    }
    .modal-content{
        border-radius: 0;
    }
    .qrcode-title{
        margin-top: 20px;
        font-size: 24px;
        color:#000;
        text-align: center;
    }
    .qrcode-img{
        width: 240px;
        height: 240px;
        margin: 40px auto 60px;
        display: block;
    }
}